.ContactList {
  width: 400px;
}
.ContactList__item {
  display: flex;
  align-items: center;
}

.ContactList__text {
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 0;
  padding: 10px;
}

.ContactList__button {
  margin-left: 15px;
  width: 80px;
  cursor: pointer;
  border-radius: 50px;
  border: none;
  background-color: #f44336;
}
