.ContactList {
  width: 400px;
}
.ContactList__item {
  display: flex;
  align-items: center;
}

.ContactList__text {
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 0;
  padding: 10px;
}

.ContactList__button {
  border-radius: 50px;
}
